{% raw %}CREATE_PRIVATE_SUBNET = {% endraw %}{{ 'True' if create_private_subnet else 'False' }}
{% raw %}CREATE_CENTRAL_NETWORKING_HOSTED_ZONE = {% endraw %}{{ 'True' if create_central_networking_hosted_zone else 'False' }}
